body {
    margin: 0px; 
    background-image: url("../images/desertdunesatnight.jpg"); 
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

#fire {
	width: 100%;
	height: 100%;
    background-size: 100%;
	margin: auto;
	overflow: hidden;
	float: left;
	margin-right: 100px;
}

.flame {
  width: 57px;
  height: 80px;
  background: url("http://creativeocean.com/dev/_images/flame3.png") no-repeat;
  background-size: 100% 100%;
  float: left;
}

.button {
	display: inline-block;
	width: auto;
	height: 20px;
	padding: 0 10px;
	margin-right: -1px;
	border: solid 1px #444;
	cursor:pointer;
	color: #888;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: #222 0px -1px 2px;
	line-height: 18px;
	background: #666;
	background: #666 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#222));
	background: #666 -moz-linear-gradient(100% 100% 90deg, #222, #666);
	-webkit-box-shadow: #222 0 -1px 4px;
	-webkit-user-select: none;
}

.button.left {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

.button.right {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.button:hover, .button.hover {
  	color: #888;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: #222 0px 1px 2px;
	line-height: 18px;
	background: #222;
	background: #222 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#666));
	background: #222 -moz-linear-gradient(100% 100% 90deg, #666, #222);
}

.button.selected {
  background: #222;
	background: #222 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#444));
	background: #222 -moz-linear-gradient(100% 100% 90deg, #444, #222);
	color: #fff;
	cursor: default;
}

.button.thin {
	padding: 2px 6px 2px 6px;
}

#left {
    /*width:220px;*/
    margin: 5px;
}
#center {
    margin: 5px 0;
    /*width: calc(100% - 460px);*/
}
#right {
    margin: 5px;
    /*width: 220px;*/
}