canvas {
    position: absolute;
    display:block;
    top: 0px;
    z-index: 0;
}

body {
    background-image: url("../images/galaxy_starfield.png"); 
    text-align: center;
}

.main {
    display: inline-block;
    vertical-align: top;
    padding-left: 28px;
}

.loginBox {
    /*border: 2px solid white;
    margin-top: 80px;*/
    padding: 10px;
	background-color: rgba(106, 65, 65, 0);
	position: relative;
	z-index: 1;
}

.loginField {
    margin-bottom: 12px;
}

.login {
    -webkit-text-fill-color: white;
    vertical-align: center;
}

#usrName, #pwd {
    border-radius: 5px;
}

#btnJouer {
    border: 1px solid white;
    border-radius: 5px;
}

.errorMsg {
    color:red;
    margin-bottom: 20px;
}