body {
	background: #000;
	color: #888;
	font-family: Helvetica, sans-serif; font-size:11px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 2048px;
}

a {
	color: #888;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#palette_display {
	width: 150px;
}

div.palette_color {
	float: left;
	width: 8px;
	height: 8px;
	border: 1px solid #555;
	margin: 1px 0px 0px 1px;
}

/*div.clear {
	clear: both;
}*/

#container {
	position: relative;
	display: none;
	left: 0px;
	top: 0px;
}

#d_header {
	width: 640px;
	height: 150px;
}

#titleBox {
	position: relative;
	float: left;
	font-size: 20px;
	text-align: center;
	border: solid white 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.skills {
	position: relative;
	float: left;
	font-size: 12px;
	text-align: center;
	border: solid white 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.skills:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: white;
    opacity: 0.8;
	transition: all .2s ease-in-out;
}

#d_scene_selector {
	float: left;
	line-height: 30px;
}

#fe_scene {
	outline: 0;
	width: auto;
  	border: solid 1px #444;
	color: #888;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-shadow: #222 0px -1px 2px;
	background: #666;
	background: #666 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#222));
	background: #666 -moz-linear-gradient(100% 100% 90deg, #222, #666);
	box-shadow: #222 0 -1px 4px;
}

#d_scene_btns {
	float: left;
	margin-left: 20px;
	margin-top: 3px;
}

#d_options_control {
	float: right;
	margin-top: 3px;
}

#btn_options_toggle {
	position: relative;
	left: 0px;
}

#d_loading {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	top: 0px;
	z-index: 3;
	background: url('../images/loading.gif') no-repeat center center;
}

#mycanvas {
	float: left;
	z-index: 2;
	-webkit-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    border: 5px solid white;
    border-radius: 30px;
}

#d_options {
	z-index: 1;
	position: relative;
	float: left;
	width: 150px;
	height: 480px;
	margin-left: 15px;
}

#d_debug {
	margin-top: 7px;
	color: #555;
	font-weight: bold;
}

#bossBox {
	position: relative;
	float: left;
	text-align: center;
	border: solid white 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

#playerBox {
	position: relative;
	float: left;
	text-align: center;
	border: solid white 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.allyBox {
	position: relative;
	float: left;
	font-size: 12px;
	text-align: center;
	border: solid white 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.section {
	margin-bottom: 20px;
}

div.label {
  color: #666;
	font-size: 11px;
	font-weight: bold;
	text-shadow: #222 0px 1px 4px;
	line-height: 20px;
}

.button {
	display: inline-block;
	width: auto;
	height: 18px;
	padding: 0 10px;
	margin-right: -1px;
	border: solid 1px #444;
	cursor:pointer;
	color: #888;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-shadow: #222 0px -1px 2px;
	line-height: 18px;
	background: #666;
	background: #666 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#222));
	background: #666 -moz-linear-gradient(100% 100% 90deg, #222, #666);
	-webkit-box-shadow: #222 0 -1px 4px;
	-webkit-user-select: none;
}

.button.left {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
}

.button.right {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.button:hover, .button.hover {
  color: #888;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	text-shadow: #222 0px 1px 2px;
	line-height: 18px;
	background: #222;
	background: #222 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#666));
	background: #222 -moz-linear-gradient(100% 100% 90deg, #666, #222);
}

.button.selected {
  	background: #222;
	background: #222 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#444));
	color: #fff;
	cursor: default;
}

.button.thin {
	padding: 2px 6px 2px 6px;
}

#d_footer {
	position: fixed;
	left: 0px;
	top: 100%;
	margin-top: -20px;
	height: 20px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}

#d_footer > span {
	padding: 0px 10px 0px 10px;
}