@font-face {
	font-family : "Amatic SC";
	src:url("../font/AmaticSC-Bold.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

html, body {
    font-family: 'Amatic SC', sans-serif;
    background-color:black;
    color:white;
    text-shadow: 0 0 5px black;
    font-size:20px;
    height: 100%;
}

body {
    background-position: center center;
    background-size: cover;
}

button {
    border: none;
    color: white;
    padding: 5px 30px;
    background-color: #666565;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #AAA9A9;
}

nav {
    padding:10px;
    background-color: rgba(106, 65, 65, 0);
    text-align: center;
    position:relative;
    z-index:3;
}

nav a {
    color:white;
}

nav ul li {
	display: inline;
}

nav ul li, nav ul li {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #268030;
}

nav ul li:hover, nav ul li a:hover {
    color: #fff;
    background-color: #2ADF48;
}

.contentBox {
    border-bottom:2px solid white;
    border-top:2px solid white;
    padding: 10px;
	position: relative;
	z-index: 1;
}

.gameBox {
	position: relative;
	height: 150px;
	width: 90px;
	float: left;
	text-align: center;
	border: solid black 2px;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	overflow: hidden;
}

.gameBox p {
    margin-bottom: 8px;
    margin-top: 3px;
	color:#9BBBE4;
	text-shadow: 1px 1px #200000;
}

.gameBox span {
	padding-bottom: 10px;
	margin-top: 10px;
    font-size: 40px;
    transition: all .2s ease-in-out;
}

.gameBox:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background: white;
    opacity: 0.8;
	transition: all .2s ease-in-out;
}

.gameBox:after {
	content: "";
    background: #C3B4E6;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.gameBox:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.clear {
	clear:both;
}